{% comment %} Inject logged-in customer info for nAia auth {% endcomment %}
{% if customer %}
<meta name="naia-customer" content='{"id":"{{ customer.id }}","email":"{{ customer.email | escape }}","firstName":"{{ customer.first_name | escape }}","lastName":"{{ customer.last_name | escape }}"}'>
{% endif %}

<div id="naia-stylist-widget"></div>

{% schema %}
{
  "name": "nAia Style Me Button",
  "target": "section",
  "stylesheet": "naia-stylist.css",
  "javascript": "naia-stylist.js",
  "settings": []
}
{% endschema %}
