<div
  id="naia-stylist-root"
  data-product-image="{{ product.featured_image | image_url: width: 1200 }}"
  data-product-title="{{ product.title | escape }}"
  data-product-id="{{ product.id }}"
  data-product-type="{{ product.type | escape }}"
></div>

{% schema %}
{
  "name": "nAia Stylist Button",
  "target": "body",
  "stylesheet": "naia-stylist.css",
  "javascript": "naia-stylist.js",
  "settings": []
}
{% endschema %}